/*  your css code here. If applicable */
div{
    background-color: #ffffff;
}
.player_one{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
}
.link{
    text-decoration: none;
    color: black;
}

.player_two{
    background-color: rgb(255, 255, 255);
    margin-left: 120px;
    margin-right: 120px;
    padding: 5px;
    border: 2px solid black;

}
